<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="graph.css">
    
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="logo">
                <img class="logoImg" src="mask.png" alt="" onclick="submitAndLoad()">
                <h1>COVID-19</h1>
            </div>
        </div>
        <div class="main">
            <div class="sidebar">
                <header>
                    <form action="" id="form">
                        <select id="rankType" name="rankType" onchange="updateDistancia()">
                            <option value="MAIOR_NUMERO_CONFIRMADOS">Maior número de casos</option>
                            <option value="MAIOR_NUMERO_RECUPERADOS">Maior número de recuperados</option>
                            <option value="MAIOR_NUMERO_MORTOS">Maior número de mortos</option>
                            <option value="MAIOR_CRESCIMENTO_CONFIRMADOS">Maior crescimento de casos</option>
                            <option value="MAIOR_CRESCIMENTO_RECUPERADOS">Maior crescimento de recuperados</option>
                            <option value="MAIOR_CRESCIMENTO_MORTOS">Maior crescimento de mortos</option>
                            <option value="MAIOR_TAXA_MORTALIDADE">Maior mortalidade</option>
                            <option value="MAIOR_PROXIMIDADE_DO_EPICENTRO">Locais mais próximos do local com maior crescimento de casos</option>
                        </select>
        
                    
                        <br /><br />
                        <label for="startDate">De</label>
                        <input type="date" id="startDate" name="startDate">
                        <label for="endDate">até</label>
                        <input type="date" id="endDate" name="endDate">
                        <br /><br />
                        <label for="exportType">Exportar como</label>
                        <select id="exportType" name="exportType">
                                <option value="csv">.csv</option>
                                <option value="tsv">.tsv</option>
                                <option value="none">none</option>
                        </select>
        
                        <label class="invisible" id="labelDistancia" for="distancia">Distância</label>
                        <input class="invisible" type="number" id="distancia" name="distancia" min="1">
                        <br /><br />
                    </form>
                    <div class="submitButtonWrapper">
                        <button class="submitButton" onclick="submitAndLoad()">Submit</button>
                    </div>
                </header>


            </div>
            <div class="canvasWrapperBig">
                <div class="canvasWrapper" id="canvasWrapper"> 
                    <canvas class="chart" id="chart" width="400px" height="400px"></canvas> 
                </div>
            </div>
        </div>
    </div>
    <script src="graph.js"></script>
</html>